


<h4>
<div class="row">
    <div class="col-md-4 text-center customerSelection">
        <label for="selectcustomer">Customer</label>
        <select id="selectcustomer" class="form-control pointer" name="selectcustomer" required>
        </select>
    </div>
    <div class="col-md-2 text-center buildingSelection">
        <label for="selectbuilding">Building</label>
        <select id="selectbuilding" class="form-control pointer" name="selectbuilding" required>
        </select>
    </div>
    <div class="col-md-2 text-center batterySelection">
        <label for="selectbattery">Battery</label>
        <select id="selectbattery" class="form-control pointer" name="selectbattery" required>
        </select>
    </div>
    <div class="col-md-2 text-center columnSelection">
        <label for="selectcolumn">Column</label>
        <select id="selectcolumn" class="form-control pointer" name="selectcolumn">
        <option value="">None</option>
        </select>
    </div>
    <div class="col-md-2 text-center elevatorSelection">
        <label for="selectelevator">Elevator</label>
        <select id="selectelevator" class="form-control pointer" name="selectelevator">
        <option value="">None</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center employeeSelection">
        <label for="selectemployee">Employee</label>
        <select id="selectemployee" class="form-control pointer" name="selectemployee">
        <option value="">None</option>
        </select>
    </div>
    <div class="col-md-9 text-center description">
        <label for="description">Description</label>
        <input type="text" placeholder="Description here" id="description" class="form-control pointer" name="">
    </div>
    <br \>
    <br \>
</div>
</h4>	
<div class="row">
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-red">SUBMIT</button>
    </div>
</div>


